    body{
    background-color: #DAF7A6;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
     }
    
     /* .container-titulo{
        background-color: #326a16;
        width: 1020px;
        margin-left: -34.213px;
     } */

 
    
    /* .container{
    width: 100%;
    display: table-footer-group;
    max-height: 600px;
    } */
    
    /* .card{
    padding: 10px 0px;
    width: 100%;
    margin:10px;
    border-radius: 3px;
    overflow: hidden;
    background: #b0c8be;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    } */

    /* .card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:  translateY(-3%);
    } */
    
    /* .card img{
    width: auto;
    height: 240px;
    } */
    /* .card .contenido{
    padding: 15px;
    width: 1450px;
    text-align: center;
    } */

    .bot {
     background-color: rgb(55, 219, 137); /* Green */  
     border: solid 3.5px ; 
    color: rgb(0, 0, 0);
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: 25px 30px 0px 80px;
    transform: translateX(5%);
    }
     
  
/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1450px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
    position: rig;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
    padding: -100px; 
    margin: 0px;
}

.count-products{
    position: absolute;
    top: 32%;
    right: 1;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #dfdee7;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
    background-color: #a8cc65;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}

.hidden{
    display: none;
}






/* Cuadro para que reponda el cliente */

.container {
    display : flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #a8cc65;
    margin: 50px 30px;
    padding: 20px; 
    border-radius: 10px;
    width: px;
 }

.form{
    min-width: 400px;
    flex:1;
    text-align: center;
    padding: 30px;
}
   


.form_input{
    width:100%;
    padding: 8px;
    margin: 7px ;
    border: none;
    border-bottom: 3px solid #1c7;
    background: transparent;
    color:rgb(0, 0, 0);
}

.form_input::placeholder {color:rgb(0, 0, 0);}

.form_input:focus{
    background: linear-gradient(to bottom, transparent, #094);
    outline: none;
    border-bottom:3px solid #5f9;
}

.form textarea{
    min-height: 140px; 
    resize: none;
}


.form_img{
    flex:0.5;
    Padding: 10px;
    display: flex;

}

.form_img div{
    padding: 10px;
}
 


.img_container div{
    border-radius: 0%;
    background-color: rgb(97, 121, 143);
    text-align: center;
    padding: 40px 10px;  
}

.img_container{
    margin: auto;

}

.form_img img {
    width: 40%;
    margin: auto;

} 

.form_input[type="button"]{

      background: #094;
      border-bottom: none;
      padding: 20px;
      font-size: 1.2em;
}

.form_input[type="button"]:hover{

    background: #072;
    border-bottom: none;
    padding: 20px;
    font-size: 1.2em;
   
}